.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  margin: 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  min-height: 450px;
  background-color: #1d1d1d;
  margin: auto;
  text-align: center;
  font-family: arial;
  margin: 10px;
  border-radius: 20px;

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.card img {
  width: 100%;
  border-radius: 20px 20px 0 0;
  height: 200px;
  object-fit: cover;
}
.title {
}

.price {
  color: grey;
  font-size: 22px;
}

.description {
  height: 100px;

  overflow: hidden;
}

.button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;

  background-color: #04aa6d;
}

.button:hover {
  opacity: 0.7;
}
